{% import 'macros/form.html' as form %}

{% extends 'page.html' %}

{% block subtitle %}
  {{ _('Nueva solicitud') }}
{% endblock %}

{% block breadcrumb_content %}
  <li class='active'>{% link_for _('Nueva solicitud'), controller='ckanext.feedback.controller:FeedbackController', action='feedback' %}</li>
{% endblock %}

{% block page_heading %}
  {{ _('Solicitud de datos') }}
{% endblock %}

{% block primary %}

  <div style='padding: 15px;'>

    <h1>{{ _('¿Qué datos necesitas?') }}</h1>

    <form class='dataset-form form-horizontal' method='post' action='/feedbackProv' data-module='basic-form'>

      <div class='controls' style='margin-bottom: 30px'>
        <textarea id='data-request-description' name='data_request_description' cols='20' rows='5' placeholder="{{ _('Escribe aquí tu solicitud de información') }}" class='form-control'></textarea>
      </div>

      <div class='form-actions'>
        <button class='btn btn-primary' name='save' type='submit'>
          {{ _('Enviar') }}
        </button>
      </div>

    </form>

  </div>

{% endblock %}

<!-- Remove left sidebar -->
{% block secondary %}
{% endblock %}